@model IEnumerable<HastaneRandevu_Y225012153.Models.Domain.Doktor>

@{
    ViewData["Title"] = "DoktorListele";
}

<h1>DoktorListele</h1>

<p>
    <a asp-action="Create">Yeni Doktor Ekle</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DoktorAdi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DoktorSoyad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnabilimDali)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DoktorAdi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DoktorSoyad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnabilimDali.AnabilimDaliID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DoktorID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DoktorID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DoktorID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
