@model IEnumerable<HastaneRandevuSistemi.Models.Randevu>

@{
    ViewData["Title"] = "Randevularim";
}

<h1>Randevularim</h1>


<a class="btn btn-primary rounded-pill float-end" asp-action="RandevuAl">Yeni Randevu</a>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.KullaniciAdi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DoktorAdi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RandevuSaati)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.KullaniciAdi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DoktorAdi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RandevuSaati)
            </td>
            <td>
                <a class="btn btn-danger" asp-action="RandevuSil" asp-route-id="@item.Id">Sil</a>
            </td>
        </tr>
}
    </tbody>
</table>
