﻿@using HastaneRandevuSistemi.Models
@model List<PoliklinikBilgileri>

<a class="btn btn-primary" asp-area="" asp-controller="Admin" asp-action="DoktorEkle">Doktor Ekle</a>

<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Ad Soyad</th>
            <th scope="col">Bağlı Olduğu Poliklinik</th>
            <th scope="col">Bağlı Olduğu Anabilim Dalı</th> <!--BUNU EKLEDIM-->
            <!--<th scope="col">Doktor Çalışma Saati Atama</th>-->
            <th scope="col">Sil</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.doktor.Id</td>
                <td>@item.doktor.DoktorAdSoyad</td>
                <td>@item.PolikliniklerinAdi</td>
                <!--<td@item.AnabilimDaliId.AnaBilimDaliAdi/td>-->
                <!--<td>
                    <a class="btn btn-secondary" asp-area="" asp-controller="Admin" asp-action="DoktorCalismaSaatiOlustur" asp-route-id="@item.doktor.Id">Çalışma Saati Oluştur</a>
                </td>-->
                <td>
                    <a class="btn btn-danger" asp-area="" asp-controller="Admin" asp-action="DoktorSil" asp-route-id="@item.doktor.Id">Sil</a>
                </td>

            </tr>
        }
    </tbody>
</table>