@model IEnumerable<HastaneRandevuSistemi.Models.Poliklinikler>

@{
    ViewData["Title"] = "Poliklinik";
}

<h1>Poliklinik</h1>

<p>
    <a asp-action="CreatePoliklinik">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PoliklinikAdi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnaBilimDaliId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PoliklinikAdi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnaBilimDaliId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
